.text_left{
    text-align: left !important;
}

.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
    z-index: 10;
}
.dropzone .dz-preview .dz-details{
    font-size: 11px !important;
}
.dropzone .dz-preview .dz-details .dz-size{
    font-size: 11px !important;
}
.data-dz-thumbnail{
    width: 80px;
    height: 80px;
}

.dropzone .dz-preview .dz-error-message {
    top: 100px !important;
    left: -28px !important;
}

/* tab color */
.tab-content{

}

.btn {
    border-radius: 2px !important;
    padding: 4px 11px !important;
}

#datatable2_filter{
    float: right;
}